{
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid"
}