{
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "auto"
}