:root {
  --casual-ease-out-circle: cubic-bezier(0.075, 0.82, 0.165, 1);
  --casual-ease-out-overshoots: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --casual-ease-out-quadratic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --casual-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --casual-ease-out-quartic: cubic-bezier(0.165, 0.84, 0.44, 1);
  --casual-ease-out-quintic: cubic-bezier(0.23, 1, 0.32, 1);
  --casual-ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
  --casual-ease-out-sin: cubic-bezier(0.39, 0.575, 0.565, 1);
  --casual-ease-in-out-circle: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --casual-ease-in-out-overshoots: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --casual-ease-in-out-quadratic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --casual-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --casual-ease-in-out-quartic: cubic-bezier(0.77, 0, 0.175, 1);
  --casual-ease-in-out-quintic: cubic-bezier(0.86, 0, 0.07, 1);
  --casual-ease-in-out-exponential: cubic-bezier(1, 0, 0, 1);
  --casual-ease-in-out-sin: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --casual-ease-in-circle: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --casual-ease-in-overshoots: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --casual-ease-in-quadratic: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --casual-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --casual-ease-in-quartic: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --casual-ease-in-quintic: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --casual-ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --casual-ease-in-sin: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.c-h-xs {
  height: 28px;
  line-height: 28px;
}

.c-w-xs {
  width: 28px;
}

.c-h-sm {
  height: 32px;
  line-height: 32px;
}

.c-w-sm {
  width: 32px;
}

.c-h-md {
  height: 42px;
  line-height: 42px;
}

.c-w-md {
  width: 42px;
}

.c-h-lg {
  height: 52px;
  line-height: 52px;
}

.c-w-lg {
  width: 52px;
}

.c-h-xl {
  height: 58px;
  line-height: 58px;
}

.c-w-xl {
  width: 58px;
}

.c-font-xs {
  font-size: 10px;
}

.c-font-sm {
  font-size: 12px;
}

.c-font-md {
  font-size: 14px;
}

.c-font-lg {
  font-size: 16px;
}

.c-font-xl {
  font-size: 18px;
}

.c-rounded-xs {
  border-radius: 4px;
}

.c-rounded-l-xs,
.c-rounded-t-xs,
.c-rounded-tl-xs {
  border-top-left-radius: 4px;
}

.c-rounded-r-xs,
.c-rounded-t-xs,
.c-rounded-tr-xs {
  border-top-right-radius: 4px;
}

.c-rounded-b-xs,
.c-rounded-l-xs,
.c-rounded-bl-xs {
  border-bottom-left-radius: 4px;
}

.c-rounded-b-xs,
.c-rounded-r-xs,
.c-rounded-br-xs {
  border-bottom-right-radius: 4px;
}

.c-rounded-sm {
  border-radius: 4px;
}

.c-rounded-l-sm,
.c-rounded-t-sm,
.c-rounded-tl-sm {
  border-top-left-radius: 4px;
}

.c-rounded-r-sm,
.c-rounded-t-sm,
.c-rounded-tr-sm {
  border-top-right-radius: 4px;
}

.c-rounded-b-sm,
.c-rounded-l-sm,
.c-rounded-bl-sm {
  border-bottom-left-radius: 4px;
}

.c-rounded-b-sm,
.c-rounded-r-sm,
.c-rounded-br-sm {
  border-bottom-right-radius: 4px;
}

.c-rounded-md {
  border-radius: 8px;
}

.c-rounded-l-md,
.c-rounded-t-md,
.c-rounded-tl-md {
  border-top-left-radius: 8px;
}

.c-rounded-r-md,
.c-rounded-t-md,
.c-rounded-tr-md {
  border-top-right-radius: 8px;
}

.c-rounded-b-md,
.c-rounded-l-md,
.c-rounded-bl-md {
  border-bottom-left-radius: 8px;
}

.c-rounded-b-md,
.c-rounded-r-md,
.c-rounded-br-md {
  border-bottom-right-radius: 8px;
}

.c-rounded-lg {
  border-radius: 12px;
}

.c-rounded-l-lg,
.c-rounded-t-lg,
.c-rounded-tl-lg {
  border-top-left-radius: 12px;
}

.c-rounded-r-lg,
.c-rounded-t-lg,
.c-rounded-tr-lg {
  border-top-right-radius: 12px;
}

.c-rounded-b-lg,
.c-rounded-l-lg,
.c-rounded-bl-lg {
  border-bottom-left-radius: 12px;
}

.c-rounded-b-lg,
.c-rounded-r-lg,
.c-rounded-br-lg {
  border-bottom-right-radius: 12px;
}

.c-rounded-xl {
  border-radius: 12px;
}

.c-rounded-l-xl,
.c-rounded-t-xl,
.c-rounded-tl-xl {
  border-top-left-radius: 12px;
}

.c-rounded-r-xl,
.c-rounded-t-xl,
.c-rounded-tr-xl {
  border-top-right-radius: 12px;
}

.c-rounded-b-xl,
.c-rounded-l-xl,
.c-rounded-bl-xl {
  border-bottom-left-radius: 12px;
}

.c-rounded-b-xl,
.c-rounded-r-xl,
.c-rounded-br-xl {
  border-bottom-right-radius: 12px;
}

.c-pa-xs {
  padding-left: 4px;
}

.c-px-xs {
  padding-left: 4px;
}

.c-pl-xs {
  padding-left: 4px;
}

.c-pa-xs {
  padding-top: 4px;
}

.c-py-xs {
  padding-top: 4px;
}

.c-pt-xs {
  padding-top: 4px;
}

.c-pa-xs {
  padding-right: 4px;
}

.c-px-xs {
  padding-right: 4px;
}

.c-pr-xs {
  padding-right: 4px;
}

.c-pa-xs {
  padding-bottom: 4px;
}

.c-py-xs {
  padding-bottom: 4px;
}

.c-pb-xs {
  padding-bottom: 4px;
}

.c-ma-xs {
  margin-left: 4px;
}

.c-mx-xs {
  margin-left: 4px;
}

.c-ml-xs {
  margin-left: 4px;
}

.c-ma-xs {
  margin-top: 4px;
}

.c-my-xs {
  margin-top: 4px;
}

.c-mt-xs {
  margin-top: 4px;
}

.c-ma-xs {
  margin-right: 4px;
}

.c-mx-xs {
  margin-right: 4px;
}

.c-mr-xs {
  margin-right: 4px;
}

.c-ma-xs {
  margin-bottom: 4px;
}

.c-my-xs {
  margin-bottom: 4px;
}

.c-mb-xs {
  margin-bottom: 4px;
}

.c-pa-sm {
  padding-left: 8px;
}

.c-px-sm {
  padding-left: 8px;
}

.c-pl-sm {
  padding-left: 8px;
}

.c-pa-sm {
  padding-top: 8px;
}

.c-py-sm {
  padding-top: 8px;
}

.c-pt-sm {
  padding-top: 8px;
}

.c-pa-sm {
  padding-right: 8px;
}

.c-px-sm {
  padding-right: 8px;
}

.c-pr-sm {
  padding-right: 8px;
}

.c-pa-sm {
  padding-bottom: 8px;
}

.c-py-sm {
  padding-bottom: 8px;
}

.c-pb-sm {
  padding-bottom: 8px;
}

.c-ma-sm {
  margin-left: 8px;
}

.c-mx-sm {
  margin-left: 8px;
}

.c-ml-sm {
  margin-left: 8px;
}

.c-ma-sm {
  margin-top: 8px;
}

.c-my-sm {
  margin-top: 8px;
}

.c-mt-sm {
  margin-top: 8px;
}

.c-ma-sm {
  margin-right: 8px;
}

.c-mx-sm {
  margin-right: 8px;
}

.c-mr-sm {
  margin-right: 8px;
}

.c-ma-sm {
  margin-bottom: 8px;
}

.c-my-sm {
  margin-bottom: 8px;
}

.c-mb-sm {
  margin-bottom: 8px;
}

.c-pa-md {
  padding-left: 12px;
}

.c-px-md {
  padding-left: 12px;
}

.c-pl-md {
  padding-left: 12px;
}

.c-pa-md {
  padding-top: 12px;
}

.c-py-md,
.c-expansion--header {
  padding-top: 12px;
}

.c-pt-md {
  padding-top: 12px;
}

.c-pa-md {
  padding-right: 12px;
}

.c-px-md {
  padding-right: 12px;
}

.c-pr-md {
  padding-right: 12px;
}

.c-pa-md {
  padding-bottom: 12px;
}

.c-py-md,
.c-expansion--header {
  padding-bottom: 12px;
}

.c-pb-md {
  padding-bottom: 12px;
}

.c-ma-md {
  margin-left: 12px;
}

.c-mx-md {
  margin-left: 12px;
}

.c-ml-md {
  margin-left: 12px;
}

.c-ma-md {
  margin-top: 12px;
}

.c-my-md {
  margin-top: 12px;
}

.c-mt-md {
  margin-top: 12px;
}

.c-ma-md {
  margin-right: 12px;
}

.c-mx-md {
  margin-right: 12px;
}

.c-mr-md,
.c-expansion--icon {
  margin-right: 12px;
}

.c-ma-md {
  margin-bottom: 12px;
}

.c-my-md {
  margin-bottom: 12px;
}

.c-mb-md {
  margin-bottom: 12px;
}

.c-pa-lg {
  padding-left: 16px;
}

.c-px-lg,
.c-expansion--header {
  padding-left: 16px;
}

.c-pl-lg {
  padding-left: 16px;
}

.c-pa-lg {
  padding-top: 16px;
}

.c-py-lg {
  padding-top: 16px;
}

.c-pt-lg {
  padding-top: 16px;
}

.c-pa-lg {
  padding-right: 16px;
}

.c-px-lg,
.c-expansion--header {
  padding-right: 16px;
}

.c-pr-lg {
  padding-right: 16px;
}

.c-pa-lg {
  padding-bottom: 16px;
}

.c-py-lg {
  padding-bottom: 16px;
}

.c-pb-lg {
  padding-bottom: 16px;
}

.c-ma-lg {
  margin-left: 16px;
}

.c-mx-lg {
  margin-left: 16px;
}

.c-ml-lg {
  margin-left: 16px;
}

.c-ma-lg {
  margin-top: 16px;
}

.c-my-lg {
  margin-top: 16px;
}

.c-mt-lg {
  margin-top: 16px;
}

.c-ma-lg {
  margin-right: 16px;
}

.c-mx-lg {
  margin-right: 16px;
}

.c-mr-lg {
  margin-right: 16px;
}

.c-ma-lg {
  margin-bottom: 16px;
}

.c-my-lg {
  margin-bottom: 16px;
}

.c-mb-lg {
  margin-bottom: 16px;
}

.c-pa-xl {
  padding-left: 24px;
}

.c-px-xl {
  padding-left: 24px;
}

.c-pl-xl {
  padding-left: 24px;
}

.c-pa-xl {
  padding-top: 24px;
}

.c-py-xl {
  padding-top: 24px;
}

.c-pt-xl {
  padding-top: 24px;
}

.c-pa-xl {
  padding-right: 24px;
}

.c-px-xl {
  padding-right: 24px;
}

.c-pr-xl {
  padding-right: 24px;
}

.c-pa-xl {
  padding-bottom: 24px;
}

.c-py-xl {
  padding-bottom: 24px;
}

.c-pb-xl {
  padding-bottom: 24px;
}

.c-ma-xl {
  margin-left: 24px;
}

.c-mx-xl {
  margin-left: 24px;
}

.c-ml-xl {
  margin-left: 24px;
}

.c-ma-xl {
  margin-top: 24px;
}

.c-my-xl {
  margin-top: 24px;
}

.c-mt-xl {
  margin-top: 24px;
}

.c-ma-xl {
  margin-right: 24px;
}

.c-mx-xl {
  margin-right: 24px;
}

.c-mr-xl {
  margin-right: 24px;
}

.c-ma-xl {
  margin-bottom: 24px;
}

.c-my-xl {
  margin-bottom: 24px;
}

.c-mb-xl {
  margin-bottom: 24px;
}

.c-gutter-xs,
.c-gutter-y-xs {
  margin-top: -4px;
}
.c-gutter-xs > *,
.c-gutter-y-xs > * {
  margin-top: 4px;
}

.c-gutter-xs,
.c-gutter-x-xs {
  margin-left: -4px;
}
.c-gutter-xs > *,
.c-gutter-x-xs > * {
  margin-left: 4px;
}

.c-gutter-sm,
.c-gutter-y-sm {
  margin-top: -8px;
}
.c-gutter-sm > *,
.c-gutter-y-sm > * {
  margin-top: 8px;
}

.c-gutter-sm,
.c-gutter-x-sm {
  margin-left: -8px;
}
.c-gutter-sm > *,
.c-gutter-x-sm > * {
  margin-left: 8px;
}

.c-gutter-md,
.c-gutter-y-md {
  margin-top: -12px;
}
.c-gutter-md > *,
.c-gutter-y-md > * {
  margin-top: 12px;
}

.c-gutter-md,
.c-gutter-x-md {
  margin-left: -12px;
}
.c-gutter-md > *,
.c-gutter-x-md > * {
  margin-left: 12px;
}

.c-gutter-lg,
.c-gutter-y-lg {
  margin-top: -16px;
}
.c-gutter-lg > *,
.c-gutter-y-lg > * {
  margin-top: 16px;
}

.c-gutter-lg,
.c-gutter-x-lg {
  margin-left: -16px;
}
.c-gutter-lg > *,
.c-gutter-x-lg > * {
  margin-left: 16px;
}

.c-gutter-xl,
.c-gutter-y-xl {
  margin-top: -24px;
}
.c-gutter-xl > *,
.c-gutter-y-xl > * {
  margin-top: 24px;
}

.c-gutter-xl,
.c-gutter-x-xl {
  margin-left: -24px;
}
.c-gutter-xl > *,
.c-gutter-x-xl > * {
  margin-left: 24px;
}

:root {
  --casual-normal-bg: #dcdfe6;
  --casual-light-bg: #f2f6fc;
  --casual-primary: #8952fd;
  --casual-primary-darker: #7839fd;
  --casual-primary-lighter: rgba(144, 92, 253, 0.9);
  --casual-primary-lighter2: #9a6bfd;
  --casual-primary-pale: #f7f3ff;
  --casual-primary-pale-darker: rgba(154, 107, 253, 0.1);
  --casual-secondary: #66bb6a;
  --casual-secondary-pale: #f3faf4;
  --casual-secondary-darker: #5bb660;
  --casual-secondary-lighter: rgba(113, 192, 116, 0.9);
  --casual-secondary-lighter2: #89cb8c;
  --casual-copywriting-normal: #303133;
  --casual-copywriting-light: #94969b;
  --casual-negative: #ff6472;
  --casual-negative-pale: #fff8f9;
  --casual-negative-lighter: rgba(255, 126, 137, 0.9);
  --casual-negative-darker: #ff4b5b;
  --casual-warning: #ff9100;
  --casual-warning-pale: #fffbf5;
  --casual-warning-lighter: rgba(255, 156, 26, 0.9);
  --casual-warning-darker: #e68300;
  --casual-disabled: #9dacb6;
  --casual-input-bg: #f8f8fb;
  --casual-input-bg-lighter: #fefeff;
  --casual-input-bg-darker: #f2f2f7;
  --casual-input-bg-darker2: #e8e8f2;
  --casual-input-placeholder: #c1cbd1;
  --casual-input-prefix-suffix-divider: #eaeaea;
  --casual-input-clear-icon-hover: #909399;
  --casual-select-bg: #fff;
  --casual-select-dropdown-z-index: 9;
  --casual-radio-unselect: #94969b;
  --casual-toggle-dot-bg: #fff;
  --casual-table-bg: #fff;
  --casual-table-divider-color: #dcdfe6;
  --casual-table-striped-bg: #f7f7f7;
  --casual-popup-bg: rgba(0, 0, 0, 0.6);
  --casual-popup-content-bg: #fff;
  --casual-tooltip-bg: #090909;
  --casual-tooltip-color: rgb(231, 227, 227);
}

/* stylelint-disable selector-class-pattern */
html.dark,
html[data-theme=dark] {
  --casual-primary: #9a6bfd;
  --casual-secondary: #6dbe71;
  --casual-warning: #ff9c1a;
  --casual-primary-pale: #100131;
  --casual-secondary-pale: #122913;
  --casual-warning-pale: #4d2c00;
  --casual-negative-pale: #310004;
  --casual-input-bg-lighter: #121220;
  --casual-select-bg: var(--casual-input-bg-lighter);
  --casual-table-bg: #121212;
  --casual-copywriting-normal: #dfdedd;
  --casual-copywriting-light: #7c7874;
  --casual-normal-bg: #515b72;
  --casual-toggle-dot-bg: #e6e6e6;
  --casual-popup-content-bg: #010101;
  --casual-popup-bg: rgba(255, 255, 255, 0.6);
  --casual-tooltip-bg: #e0ebee;
  --casual-tooltip-color: rgb(41, 38, 38);
  --casual-light-bg: #0d0904;
  --casual-input-placeholder: #3f456e;
  --casual-input-prefix-suffix-divider: #3f456e;
  --casual-input-bg: #282c34;
  --casual-input-bg-darker: #262626;
  --casual-input-bg-darker2: #222;
}

.c-row,
.c-column,
.c-flex,
.c-row-reverse,
.c-column-reverse,
.c-expansion--header {
  display: flex;
}

.c-inline-flex {
  display: inline-flex;
}

.c-row-reverse {
  flex-direction: row-reverse;
}

.c-column-reverse {
  flex-direction: column-reverse;
}

.c-column {
  flex-direction: column;
}

.c-wrap {
  flex-wrap: wrap;
}

.c-flex-grow,
.c-expansion--title {
  flex-grow: 1;
}

.c-justify-start {
  justify-content: flex-start;
}

.c-justify-end {
  justify-content: flex-end;
}

.c-justify-between,
.c-expansion--header {
  justify-content: space-between;
}

.c-justify-center {
  justify-content: center;
}

.c-justify-evenly {
  justify-content: space-evenly;
}

.c-justify-around {
  justify-content: space-around;
}

.c-items-start {
  align-items: flex-start;
}

.c-items-end {
  align-items: flex-end;
}

.c-items-center,
.c-expansion--header {
  align-items: center;
}

.c-items-baseline {
  align-items: baseline;
}

.c-items-stretch {
  align-items: stretch;
}

.c-row > .c-col-0 {
  height: auto;
  width: 0%;
  box-sizing: border-box;
}
.c-row > .c-col-1 {
  height: auto;
  width: 8.3333333333%;
  box-sizing: border-box;
}
.c-row > .c-col-2 {
  height: auto;
  width: 16.6666666667%;
  box-sizing: border-box;
}
.c-row > .c-col-3 {
  height: auto;
  width: 25%;
  box-sizing: border-box;
}
.c-row > .c-col-4 {
  height: auto;
  width: 33.3333333333%;
  box-sizing: border-box;
}
.c-row > .c-col-5 {
  height: auto;
  width: 41.6666666667%;
  box-sizing: border-box;
}
.c-row > .c-col-6 {
  height: auto;
  width: 50%;
  box-sizing: border-box;
}
.c-row > .c-col-7 {
  height: auto;
  width: 58.3333333333%;
  box-sizing: border-box;
}
.c-row > .c-col-8 {
  height: auto;
  width: 66.6666666667%;
  box-sizing: border-box;
}
.c-row > .c-col-9 {
  height: auto;
  width: 75%;
  box-sizing: border-box;
}
.c-row > .c-col-10 {
  height: auto;
  width: 83.3333333333%;
  box-sizing: border-box;
}
.c-row > .c-col-11 {
  height: auto;
  width: 91.6666666667%;
  box-sizing: border-box;
}
.c-row > .c-col-12 {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.c-column > .c-col-0 {
  width: auto;
  box-sizing: border-box;
  height: 0%;
}
.c-column > .c-col-1 {
  width: auto;
  box-sizing: border-box;
  height: 8.3333333333%;
}
.c-column > .c-col-2 {
  width: auto;
  box-sizing: border-box;
  height: 16.6666666667%;
}
.c-column > .c-col-3 {
  width: auto;
  box-sizing: border-box;
  height: 25%;
}
.c-column > .c-col-4 {
  width: auto;
  box-sizing: border-box;
  height: 33.3333333333%;
}
.c-column > .c-col-5 {
  width: auto;
  box-sizing: border-box;
  height: 41.6666666667%;
}
.c-column > .c-col-6 {
  width: auto;
  box-sizing: border-box;
  height: 50%;
}
.c-column > .c-col-7 {
  width: auto;
  box-sizing: border-box;
  height: 58.3333333333%;
}
.c-column > .c-col-8 {
  width: auto;
  box-sizing: border-box;
  height: 66.6666666667%;
}
.c-column > .c-col-9 {
  width: auto;
  box-sizing: border-box;
  height: 75%;
}
.c-column > .c-col-10 {
  width: auto;
  box-sizing: border-box;
  height: 83.3333333333%;
}
.c-column > .c-col-11 {
  width: auto;
  box-sizing: border-box;
  height: 91.6666666667%;
}
.c-column > .c-col-12 {
  width: auto;
  box-sizing: border-box;
  height: 100%;
}

.c-grid {
  display: grid;
}

.c-grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.c-grid-row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.c-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.c-grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.c-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.c-grid-row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.c-grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.c-grid-row-4 {
  grid-template-rows: repeat(4, 1fr);
}

.c-grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.c-grid-row-5 {
  grid-template-rows: repeat(5, 1fr);
}

.c-grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.c-grid-row-6 {
  grid-template-rows: repeat(6, 1fr);
}

.c-grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.c-grid-row-7 {
  grid-template-rows: repeat(7, 1fr);
}

.c-grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.c-grid-row-8 {
  grid-template-rows: repeat(8, 1fr);
}

.c-grid-col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.c-grid-row-9 {
  grid-template-rows: repeat(9, 1fr);
}

.c-grid-col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.c-grid-row-10 {
  grid-template-rows: repeat(10, 1fr);
}

.c-grid-col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.c-grid-row-11 {
  grid-template-rows: repeat(11, 1fr);
}

.c-grid-gap-xs {
  gap: 4px;
}

.c-grid-gap-sm {
  gap: 8px;
}

.c-grid-gap-md {
  gap: 12px;
}

.c-grid-gap-lg {
  gap: 16px;
}

.c-grid-gap-xl {
  gap: 24px;
}

.c-text-left {
  text-align: left;
}

.c-text-right {
  text-align: right;
}

.c-text-center {
  text-align: center;
}

.c-text-justify {
  text-align: justify;
}

.c-text-start {
  text-align: start;
}

.c-text-end {
  text-align: end;
}

.c-text-justify-all {
  text-align: justify-all;
}

.c-text-match-parent {
  text-align: match-parent;
}

.c-text-primary {
  color: var(--casual-primary);
}

.c-text-secondary {
  color: var(--casual-secondary);
}

.c-text-warning {
  color: var(--casual-warning);
}

.c-text-negative {
  color: var(--casual-negative);
}

.c-expansion {
  position: relative;
}
.c-expansion--header {
  cursor: pointer;
  background-color: var(--casual-input-bg);
  transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.c-expansion--header:hover {
  background-color: var(--casual-input-bg-darker);
}
.c-expansion--header:active {
  background-color: var(--casual-input-bg-darker2);
}
.c-expansion--body {
  box-sizing: content-box;
  transition: max-height cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
  max-height: var(--casual-expansion-height);
  overflow: hidden;
}
.c-expansion--arrow {
  transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.c-expansion--arrow .c-icon {
  font-size: 24px;
}
.c-expansion--arrow-expanded {
  transform: rotate(180deg);
}

html,
body {
  color: var(--casual-copywriting-normal);
}