:root {
  --svp-text: #303133;
  --svp-expansion-bg: #f8f8fb;
  --svp-expansion-bg-darker: #f2f2f7;
  --svp-expansion-bg-darker2: #e8e8f2;
}

html.dark,
html[data-theme=dark] {
  --svp-text: #dfdedd;
  --svp-expansion-bg: #282c34;
  --svp-expansion-bg-darker: #262626;
  --svp-expansion-bg-darker2: #222;
}

.c-expansion {
  position: relative;
}
.c-expansion--header {
  cursor: pointer;
  background-color: var(--svp-expansion-bg);
  transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.c-expansion--header:hover {
  background-color: var(--svp-expansion-bg-darker);
}
.c-expansion--header:active {
  background-color: var(--svp-expansion-bg-darker2);
}
.c-expansion--body {
  box-sizing: content-box;
  overflow: hidden;
}
.c-expansion--arrow {
  transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.c-expansion--arrow .c-icon {
  font-size: 24px;
}
.c-expansion--arrow-expanded {
  transform: rotate(180deg);
}

html,
body {
  color: var(--svp-text);
}