name: Auto check all latest packages

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Run release checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.G_TOKEN }}
      - name: Setup Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.23.0
      - name: Install packages
        run: pnpm i --no-frozen-lockfile
      - name: Run taze
        run: npx --yes taze
      - name: Reinstall packages
        run: pnpm i --no-frozen-lockfile
      - name: Check changes then create changesets and sync repo
        run: node check.mjs
