name: Prettier

on:
  push:
    branches:
      - main
      - changeset-release/main
  pull_request:
    types: [opened, synchronize, ready_for_review, auto_merge_enabled]

jobs:
  linter:
    name: Running lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - name: Install Dependencies
        run: pnpm i
      - name: Prettier check
        run: pnpm format
